{% extends 'ezy_wallet/_base.html' %}
{% load static %}
{% block title %}
    Wallet of {{ user.username }}
{% endblock %}

{% block balance %}
    {{ balance }}
{% endblock %}

{% block content %}
    <div class="container mt-5 mx-auto" style="width: 40%">
        <div class="mb-4">{% include 'base/_messages.html' %}</div>

        <div class="card">
            <div class="card-header">
                Electricity Bill
            </div>
            <div class="card-body">
                <form action="{% url 'electricity_bill' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="bill_no">Account ID :</label>
                        <input id="bill_no" name="bill_no" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="bill_no">RR Number :</label>
                        <input id="bill_no" name="bill_no" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount :</label>
                        <input id="amount" name="amount" type="number" class="form-control">
                    </div>
                    <input class="btn btn-success mt-4" type="submit" value="Pay">
                </form>
            </div>
        </div>
    </div>
{% endblock %}